<div class = "container p-4">
    <div class = "row">
        {{#each courses}}
            <div class="col-md-3">
                    <div class="card text-center">
                        <div class ="card-body">
                
                                <h3 class = "card-title text-uppercase">
                                      {{name}}  
                                </h3>

                                <h4>
                                      {{semester}}  Semestre
                                </h4>
                            </a>
                            <p class = "m-2">
                                <a href = "/links/addgroup/{{id}}" class="btn btn-primary">Asignar Grupos</button>
                                <a href = "/links/getgroups/{{id}}" class="btn btn-info">Ver Grupos</button>
                                <a href = "/links/deleteCourse/{{id}}" class = "btn btn-danger">Borrar Curso</a>
                                <a href = "/links/editcourses/{{id}}" class = "btn btn-secondary">Editar Curso</a>
                            </p>

                            
                        </div>
                    </div>

                    

            </div>
            
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Sin cursos registrados.</p>
                    <a href = "/links/addcursos">Crear Curso</a>
                </div>
            </div>
        {{/each}}
       
    </div>
    <div class = "container p-4">
            <a href="/links/addcursos" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Agregar Curso</a>
    </div>
     
    
    
</div>