<div class = "container p-4">
    <div class = "row">
        {{#each student}}
            <div class="col-md-3">
                    <div class="card text-center">
                        <div class ="card-body">
                                <h3 class = "card-title text-uppercase">
                                      {{name}}  
                                </h3>
                                 <h4 class = "card-title">
                                      {{semester}}  semestre
                                </h4>
    
                            <p class = "m-2"></p>
                            <a href = "/links/asigncourse/{{id}}" class = "btn btn-success">Asignar Grupo</a>
                             <a href = "/links/editstudents/{{id}}" class = "btn btn-secondary">Editar Alumno</a>
                             <br>
                             <a href = "/links/delete/{{id}}" class = "btn btn-danger">Borrar Alumno</a>
                        </div>
                    </div>

            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Sin Alumnos registrados.</p>
                    <a href = "/links/addalumno">Crear Alumno</a>
                </div>
            </div>
        {{/each}}

    </div>
        <div class = "container p-4">
            <a href="/links/addalumno" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true" padding-top = ''>Agregar alumno</a>
        </div>
         

    
</div>