
 <div class="container">
 <div class = "card mx-auto">
 <form action="../links/editCourse/{{course.id}}" method = "POST" > 
        <h1 class="form-title">Creación de Cursos</h1>

        <label for="uname"><b>Nombre de la clase</b></label> 
        <input type="text" name = "name" value ={{course.name}}> 
        
        <label for="appt">Horario</label>

        <input type="time" id="hourFinn" name="hourBegg"
            value = {{course.hourBegg}} required>

        <input type="time" id="hourFinn" name="hourFinn"
        value = {{course.hourFinn}} required>

        <label for="semester">Semestre</label>

            <select name="semester" id="semester">
                <option value="1er">1er</option>
                <option value="2do">2do</option>
                <option value="3ro">3ro</option>
                <option value="4to">4to</option>
                <option value="5to">5to</option>
                <option value="6to">6to</option>
                <option value="7mo">7mo</option>
                <option value="8vo">8vo</option>
            </select>

        <label for="uname"><b>Dias (Lu, Ma, Mi, Ju, Vi, Sa)</b></label> 
        <input type="text" name = "days" value = {{course.days}}> 
        
        <button class ="btn btn-success btn-block" type="submit" placeholder="Aceptar">Aceptar</button>
           
        </button>
        
    </form> 
</div>
 </div>